JIRA_HOST=https://everfit.atlassian.net/
JIRA_EMAIL=huynguyennhat@everfit.io
JIRA_TOKEN=
SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
MY_SLACK_USER_ID=U093ZDNQJF3
SLACK_REVIEW_CHANNEL=C05F65TBB9P
MY_GITHUB_USERNAME=huynguyen-everfit
GITHUB_WEBHOOK_SECRET=
ID_TO_DO=11
ID_IN_PROGRESS=21
ID_IN_REVIEW=41
ID_QA_READY=51
ID_QA_FAILED=71
ID_WILL_NOT_FIX=101
ID_IN_TEST=111
ID_QA_SUCCESS=141
BOT_URL=http://localhost:3000
PORT=3000
DRY_RUN=true
